# Example storage configuration using profiles

storage_profiles = {
  compute-standard = {
    partitions = {
      disk1 = [
        {
          size_gigabytes = 50
          fs_type        = "ext4"
          mount_point    = "/boot"
          bootable       = true
        },
        {
          size_gigabytes = 100
          fs_type        = "ext4"
          mount_point    = "/"
        }
      ]
      disk2 = [
        {
          size_gigabytes = 1000
          tags           = ["vg:vg_data"]
        }
      ]
    }

    volume_groups = {
      vg_data = {
        name = "vg-data"
      }
    }

    logical_volumes = {
      lv_var = {
        name           = "lv-var"
        volume_group   = "vg_data"
        size_gigabytes = 200
        fs_type        = "xfs"
        mount_point    = "/var"
      }
      lv_home = {
        name           = "lv-home"
        volume_group   = "vg_data"
        size_gigabytes = 300
        fs_type        = "xfs"
        mount_point    = "/home"
      }
    }
  }
}

nodes = {
  compute-01 = {
    hostname        = "compute-node-01.maas"
    storage_profile = "compute-standard"

    devices = {
      disk1 = {
        name           = "sda"
        id_path        = "/dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi0"
        is_boot_device = true
      }
      disk2 = {
        name    = "sdb"
        id_path = "/dev/disk/by-id/scsi-0QEMU_QEMU_HARDDISK_drive-scsi1"
      }
    }
  }
}
